[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Tatsuya Otsuka
	email = tatzyr@gmail.com
[alias]
	co = checkout
	fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
[core]
	editor = nano
	quotepath = false
	excludesfile = ~/.gitignore_global
[log]
	date = iso8601
