[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Tatsuya Otsuka
	email = tatzyr@gmail.com
[alias]
	co = checkout
[core]
	editor = nano
	quotepath = false
[log]
	date = iso8601
